### Topics: Lists, Tuples, Dictionaries and Sets

#### 1. Access `raghav` in the following list.

In [4]:
mylist = [1, [1.5, [200, False, ['abc', True, [17, 'raghav']]]]]
mylist

[1, [1.5, [200, False, ['abc', True, [17, 'raghav']]]]]

In [36]:
mylist[1][1][2][2][1]

'raghav'

#### 2.  Sort the elements of the list in an ascending order and append [7, 8] and [9, 10] to the list.

In [65]:
mylist = [4, 3, 1, 5, 2, 6]
mylist

[4, 3, 1, 5, 2, 6]

In [66]:
mylist.sort()
mylist.append([7,8])
mylist
mylist.append([9,10])
print(mylist)

[1, 2, 3, 4, 5, 6, [7, 8], [9, 10]]

#### 3. Create a tuple with a single element. Try this in two ways.

In [90]:
t = 'abc',123,True
print(t,type(t))

('abc', 123, True) <class 'tuple'>

In [92]:
t = (345,False,'def')
print(t,type(t))

(345, False, 'def') <class 'tuple'>

#### 4. Access `raghav` associated with all the keys from the following dictionary

In [82]:
mydict = {'k1' : 'raghav', 'k2' : [1, 'raghav'], 'k3' : (1.5, True, ['python', 'raghav']), 'k4' : [(1, 2, 3), (4, 5), ('python', 'raghav')], 'k5' : {'k6' : {'k7' : [1, 2.45, 'raghav', True]}}}

In [83]:
mydict

{'k1': 'raghav',
 'k2': [1, 'raghav'],
 'k3': (1.5, True, ['python', 'raghav']),
 'k4': [(1, 2, 3), (4, 5), ('python', 'raghav')],
 'k5': {'k6': {'k7': [1, 2.45, 'raghav', True]}}}

In [70]:
mydict['k1']

'raghav'

In [71]:
mydict['k2'][1]

'raghav'

In [77]:
mydict['k3'][2][1]

'raghav'

In [78]:
mydict['k4'][2][1]

'raghav'

In [87]:
mydict['k5']['k6']['k7'][2]

'raghav'

#### 5. Create a dictionary with keys `a` &  `b`  and correspoding values `1` and `2`. Update a new set of key and value pair `c` & `3` in two different ways. Then, remove the last key value pair updated.

In [100]:
d = {'a' : 1 , 'b' : 2}

In [101]:
print(d)

{'a': 1, 'b': 2}

In [102]:
d['รง'] = 3
print(d)

{'a': 1, 'b': 2, 'รง': 3}

In [105]:
d1 = {'c' : 3}
print(d1)

{'c': 3}

In [107]:
d.update(d1)
print(d)

{'a': 1, 'b': 2, 'รง': 3, 'c': 3}

In [109]:
d.popitem()

('c', 3)

In [110]:
print(d)

{'a': 1, 'b': 2, 'รง': 3}

#### 6. Create two sets `s1` with elements `1, 2, 3, 4` & `s2` with elements `3, 4, 5, 6` and demonstate the following methods:

    1. difference_update
    2. intersection_update
    3. symmetric_difference
    4. symmetric_difference_update
    5. update
    6. discard
    7. remove

In [241]:
a1 = {1,2,3,4}
print(a1)
a2 = {3,4,5,6}
print(a2)

{1, 2, 3, 4}
{3, 4, 5, 6}

In [207]:
a1.difference(a2)

{1, 2}

In [208]:
a2.difference(a1)

{5, 6}

In [209]:
a1.difference_update(a2)
print(a1)

{1, 2}

In [210]:
a2.difference_update(a1)
print(a2)

{3, 4, 5, 6}

In [213]:
a1.intersection(a2)

{3, 4}

In [214]:
a2.intersection(a1)

{3, 4}

In [215]:
a1.intersection_update(a2)
print(a1)

{3, 4}

In [216]:
a2.intersection_update(a1)
print(a2)

{3, 4}

In [219]:
a1.symmetric_difference(a2)

{1, 2, 5, 6}

In [220]:
a2.symmetric_difference(a1)

{1, 2, 5, 6}

In [221]:
a1.symmetric_difference_update(a2)
print(a1)

{1, 2, 5, 6}

In [222]:
a2.symmetric_difference_update(a1)
print(a2)

{1, 2, 3, 4}

In [230]:
a1.update(a2)
print(a1)

{1, 2, 3, 4, 5, 6}

In [224]:
a2.update(a1)
print(a2)

{1, 2, 3, 4, 5, 6}

In [206]:
a1.discard(a2)
print(a1)

{1, 2, 3, 4}

In [228]:
a2.discard(a1)
print(a2)

{3, 4, 5, 6}

In [242]:
a1.remove(1)
print(a1)

{2, 3, 4}

In [244]:
a2.remove(4)
print(a2)

{3, 5, 6}